<?xml version='1.0' encoding='utf-8'?>
<plugin id="com-viatick-cordova-plugins-bms-sdk-public" version="0.1.2" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
	<name>BmsCordovaSdkPublic</name>
	<js-module name="BmsCordovaSdkPublic" src="www/BmsCordovaSdkPublic.js">
		<clobbers target="cordova.plugins.BmsCordovaSdkPublic" />
	</js-module>
	<platform name="ios">
		<config-file target="config.xml" parent="/*">
			<feature name="BmsCordovaSdkPublic">
				<param name="ios-package" value="BmsCordovaSdkPublic" />
			</feature>
		</config-file>

		<config-file target="*-Info.plist" parent="NSLocationAlwaysAndWhenInUseUsageDescription">
			<string>${EXECUTABLE_NAME} Would Like to Use Your Current Location Even In Background.</string>
		</config-file>

		<config-file target="*-Info.plist" parent="NSLocationWhenInUseUsageDescription">
			<string>${EXECUTABLE_NAME} Would Like to Use Your Current Location</string>
		</config-file>

		<config-file target="*-Info.plist" parent="NSLocationAlwaysUsageDescription">
			<string>${EXECUTABLE_NAME} Would Like to Use Your Current Location</string>
		</config-file>

		<config-file target="*-Info.plist" parent="UIBackgroundModes">
    	<string>${EXECUTABLE_NAME} Would Like to Use Background Mode</string>
    </config-file>

    <config-file target="config.xml" parent="/*">
      <feature name="BackgroundLocationServices">
      	<param name="ios-package" value="BackgroundLocationServices"/>
      </feature>
    </config-file>

		<config-file parent="aps-environment" target="*/Entitlements-Debug.plist">
		    <string>development</string>
		</config-file>
		<config-file parent="aps-environment" target="*/Entitlements-Release.plist">
			<string>production</string>
		</config-file>

		<source-file src="src/ios/BmsCordovaSdkPublic.swift" />

		<framework src="src/ios/BmsSDK.framework" embed="true" custom="true" />
	</platform>

	<platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
						<preference name="android-minSdkVersion" value="21"/>
            <feature name="BmsCordovaSdkPublic">
                <param name="android-package" onload="true" value="com.viatick.bmsandroidsdk.plugin.BmsCordovaSdkPublic" />
            </feature>
        </config-file>

        <source-file src="src/android/bms-android-sdk-release.aar" target-dir="libs" />
				<source-file src="src/android/SDK SRC/plugin" target-dir="app/src/main/java/com/viatick/bmsandroidsdk" />

        <config-file target="AndroidManifest.xml" parent="/manifest">
          <uses-feature
              android:name="android.hardware.bluetooth_le"
              android:required="true" />

					<uses-permission android:name="android.permission.INTERNET" />
				  <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
				  <uses-permission android:name="android.permission.GET_TASKS" />
				  <uses-permission android:name="android.permission.READ_PHONE_STATE" />
				  <uses-permission android:name="android.permission.READ_CONTACTS" />

				  <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
				  <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
				  <uses-permission android:name="android.permission.BLUETOOTH" />
				  <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
				  <uses-permission android:name="android.permission.WAKE_LOCK" />
        </config-file>

        <config-file target="AndroidManifest.xml" parent="application">
            <activity android:name="com.viatick.bmsandroidsdk.view.MinisiteMenuActivity" android:theme="@style/Base.Theme.AppCompat"/>
            <activity android:name="com.viatick.bmsandroidsdk.view.MinisiteActivity" android:theme="@style/Base.Theme.AppCompat" />

            <service android:name="com.viatick.bmsandroidsdk.controller.ViaIBeaconCtrl"></service>
            <service android:name="org.altbeacon.beacon.service.BeaconService"
                android:enabled="true"
                android:isolatedProcess="false"
                android:label="beacon"></service>
            <service android:name="org.altbeacon.beacon.BeaconIntentProcessor"
                android:enabled="true"></service>

            <receiver android:name="org.altbeacon.beacon.startup.StartupBroadcastReceiver">
                <intent-filter>
                    <action android:name="android.intent.action.BOOT_COMPLETED" />
                    <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
                    <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
                </intent-filter>
            </receiver>

            <receiver android:name="com.viatick.bmsandroidsdk.helper.ViaBeaconRebootReceiver">
                <intent-filter>
                    <action android:name="android.intent.action.BOOT_COMPLETED"/>
                </intent-filter>
            </receiver>

						<service
      				android:name="com.viatick.bmsandroidsdk.controller.BeaconServiceCtrl"
      				android:exported="false" />
        </config-file>

				<edit-config file="app/src/main/AndroidManifest.xml" mode="merge" target="/manifest/application">
        	<application android:supportsRtl="true" android:hardwareAccelerated="true"/>
    		</edit-config>

        <framework src="src/android/BmsCordovaSdkPublic.gradle" custom="true" type="gradleReference" />
    </platform>
</plugin>
